/*!-------- Google font ----------- */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');



:root {
    --clr-orange: #EF6D58;
    --clr-oxblood: #391400;
    --clr-pear: #F6D021;
    --clr-blue: #001c3b;

    --ff-epilogue: 'Epilogue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: var(-ff--epilogue);
}

/* 
body {
    max-width: 100vw;
    height: 100vh;
} */

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

/**-------- header ----------**/

.header {
    background-color: var(--clr-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 15px;
    overflow: hidden;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    text-align: center;
    padding-left: 5rem;
}

.icon {
    display: none;
}

.nav-btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 14px 39px;
    border-radius: 5px;
}


/**------- Hero section ----------*/

.hero {
    background-color: var(--clr-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero-left {
    flex-basis: 50%;
}

.hero-left p {
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--clr-orange);
    text-align: start;
    padding: 8.29rem 0 0.9rem;
}

.hero-left h1 {
    font-size: 4.5rem;
    font-weight: 300;
    margin: 0;
    text-align: start;
    color: white;
    padding-bottom: 2.25rem;
    line-height: 5rem;
}

.hero-left small {
    font-size: 1rem;
    color: white;
    line-height: 2rem;
    opacity: 64%;
}

.hero-footer {
    display: flex;
    flex-direction: row;
    padding: 7rem 0 4rem;
}

.hero-footer-info {
    margin-left: 1rem;
}

.hero-footer-info p {
    padding: 0;
    padding-top: 0.4375rem;
    color: white;
    text-transform: none;
}

.hero-footer-text {
    font-size: 1rem;
    opacity: 64%;
}

.hero-right {
    flex-basis: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}


/**---------- Social Icons Section  ------------*/
/*!--------- Buttons ----------*/

.common-btn {
    color: white;
    text-transform: uppercase;
    font-size: 0.875rem;
    background-color: var(--clr-orange);
    padding: .875rem 1.625rem;
    border: transparent;
    border-radius: 0.375rem;
    margin-top: 1.625rem;
}

.hero-btn {
    font-size: 1rem;
    background-color: transparent;
    color: white;
    border: transparent;
    margin-left: 2.5rem;
}













/*!----------------------------------> Carousel <------------------------ */

body {
    margin: 0;
    height: calc(100vh - 8em);
    font-family: 'Muli', sans-serif;
    background-color: #f5f5f5;
}

h1 {
    text-align: center;
    margin: 4em;
}

.container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.items {
    display: flex;
    align-items: center;
    width: fit-content;
    animation: carouselAnim 60s infinite alternate linear;
}

.entry {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 300px;
    background: white;
    margin: 1em;
    padding: .5em;
    border-radius: 10px;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.05);
}

p {
    text-align: center;
    padding: 1em;
}

p.name {
    font-weight: bold;
}

@keyframes carouselAnim {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(calc(-100% + (5*300px)));
    }
}



@media only screen and (max-width: 768px) {
    .items {
        animation: carouselAnim 30s infinite alternate linear;
    }

    @keyframes carouselAnim {
        from {
            transform: translate(0, 0);
        }

        to {
            transform: translate(calc(-100% + (2*300px)));
        }
    }
}

.faders {
    width: 100%;
    position: absolute;
    height: 100%;
}

.left,
.right {
    background: linear-gradient(to right, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 0) 100%);
    width: 20%;
    height: 100%;
    position: absolute;
    z-index: 200;
}

.right {
    right: 0;
    background: linear-gradient(to left, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 0) 100%);
}



/*todo------ Media Queries ----------*/

@media screen and (max-width:375px) {

    /**-------- header  ----------*/
    .navbar {
        display: none;
    }

    .nav-btn {
        display: none;
    }

    .icon {
        display: block;
        color: white;
        padding: 1.0625rem 1rem;
        border: 1px solid rgba(255, 255, 255, 0.178);
        border-radius: 0.625rem;
    }

    /**--------- HEro section  -----------*/
    .hero {
        display: flex;
        flex-direction: column;
    }

}